<h2>Question:{{model.question}}</h2>
<ul>
  {{#each model.options as |option|}}
    <li>
      {{option.value}}: {{option-tally optionVotes=option.votes pollVotes=model.pollVotes}}
    </li>
  {{/each}}
</ul>
