{{outlet}}
<h4>Check out previous questions from Woodland Wanderers:</h4>
<ul>
  {{#each model as |poll|}}
    {{#link-to "polls.poll" poll}}
      <li>
        {{poll.question}}
      </li>
    {{/link-to}}
    {{/each}}
</ul>
